[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4

[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
skip-character-set-client-handshake
general_log = on
general-log=/var/log/mysql.log
error_log = on
log-error=/var/log/mysql-error.log
slow_query_log = on
slow-query-log=/var/log/mysql-slowquery.log